.composition {
    position: relative;
    
    &_photo {
        width: 55%;
        box-shadow: 0 1.5rem 4 rem rgba($color-black, .4);
        border-radius: 2px;
        position:absolute;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            left: 0;
            top: -20rem;
        }
        &--p3 {

        }
    }
}